* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* ヘッダー */
.header {
  height: 60px;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
  position: fixed;
  background-color: #fff;
}
.nav-bar {
  display: flex;
  width: 800px;
  margin: 0 auto;
}
.nav-bar .name {
  width: 300px;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}
.nav-bar ul {
  display: flex;
  line-height: 60px;
}
.nav-bar ul li {
  margin-right: 20px;
  vertical-align: bottom;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #333;
}

.contents {
  padding: 60px 0;
}
section h1 {
  color: #05054b;
  font-size: 40px;
}
section p {
  color: #6d6c6c;
}

/* プロフィール */
section {
  margin-bottom: 50px;
}
.about-container {
  display: flex;
  margin: 0 auto;
  padding: 30px;
}
.profile-image {
  width: 300px;
  height: 300px;
}
img.profile-picture {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.myname {
  width: 180px;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.social-contents {
  width: 180px;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}
.social-contents a {
  text-decoration: none;
  color: #05054b;
}

.profile-content {
  width: 450px;
}
.profile-content p {
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}
.profile-content h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.profile-content li {
  vertical-align: middle;
  display: flex;
  margin-bottom: 10px;
}
.profile-content li i {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
  color: #05054b;
}
.profile-content li .univ-name {
  font-size: 18px;
}
.profile-content li .univ-major {
  font-size: 14px;
  color: #333;
}


/* 経歴 */
section {
  width: 800px;
  padding: 50px 0;
  margin: 0 auto;
}
.content-title {
  width: 300px;
  padding: 0 30px;
}
section#history {
  display: flex;
}
section#history .main-content {
  display: flex;
}
.guide .space {
  height: 30px;
  width: 50px;
}
.guide .dot {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #05054b;
  margin: 8px 0;
}
.guide .open-dot {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid #05054b;
  margin: 8px 0;
}
.guide .line {
  height: 50px;
  width: 13px;
  border-right: 1px solid #05054b;
}
.card {
  width: 400px;
  height: 100px;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-radius: 6px;
  color: #333;
  margin-bottom: 50px;
}
.card-title {
  font-size: 20px;
}
.card-info, .card-info a {
  color: gray;
  font-size: 14px;
  text-decoration: none;
}


/* アプリ */
section#application {
  display: flex;
}

/* コンタクト */
section#contact {
  display: flex;
}
.contact-content {
  font-size: 20px;
}
.contact-content li {
  vertical-align: middle;
  line-height: 50px;
}
.contact-content li i {
  display: inline-block;
  font-size: 40px;
  margin-right: 20px;
  vertical-align: middle;
  color: #05054b;
}
.contact-content li span {
  display: inline-block;
}
.contact-content li a {
  text-decoration: none;
  color: #000;
}